[submodule "AWS-project-using-SHELL-SCRIPTING"]
	path = AWS-project-using-SHELL-SCRIPTING
	url = https://github.com/Aditya-gairola/AWS-project-using-SHELL-SCRIPTING.git
[submodule "Jenkins-Projects-"]
	path = Jenkins-Projects-
	url = https://github.com/Aditya-gairola/Jenkins-Projects-.git
